.flight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: #bad6ff;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.flight-data-depart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    caret-color: transparent;
    width: 20%;
    flex-grow: 1;
    z-index: 1;
    background-color: #bad6ff;
    padding: 10px 0;
}

.flight-data-arrival {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    caret-color: transparent;
    width: 16.7%;
    flex-grow: 1;
    z-index: 1;
    background-color: #bad6ff;
    padding: 10px 0;
}

.flight .del-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ff5353;
    padding: 0 10px;
    color: white;
    border-radius: 3px;
    z-index: 0;
    transition: 0.2s ease-in-out;
    position: relative;
    margin-right: 3px;
}

.icons-div {
    position: absolute;
    right: -78px;
    top: 0;
    transform: translateX(-160px);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: 0.2s ease-in-out;
}

.flight:hover .icons-div {
    transform: none;
    transition: 0.2s ease-in-out;
}

.assign-carousel {
    position: absolute;
    bottom: -16px;
    right: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-decoration: underline;
    caret-color: transparent;
}

.pen-icon {
    background-color: blue !important;
}